* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: hsl(210, 46%, 95%);
  color: black;
}

.attribution a {
  color: hsl(118, 76%, 55%);
}

.grid {
  padding: 5rem 0;
}
.main {
  background-color: hsl(210, 46%, 95%);
}
.card {
  margin: auto;
  width: 90%;
  max-width: 350px;
  padding: 25px;
  border-radius: 7px;
  margin-bottom: 25px;
}

.graduate {
  display: flex;
  align-items: center;
  gap: 15px;
}

.graduate-image {
  border-radius: 50%;
  width: 35px;
}

.border-violet {
  border: 1.5px solid #a875f1;
}

.title {
  font-size: 20px;
  font-weight: 600;

  padding: 15px 0px;
}

.opacity {
  color: hsl(0, 0%, 70%);
}

.name {
  padding-bottom: 2px;
  font-size: 16px;
}

.bg-gray {
  background-color: #49556b;
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.bg-text-dark-gray {
  background-color: hsl(219, 29%, 14%);
}

.bg-violet {
  background-color: hsl(263, 60%, 52%);
}
.text-dark-gray {
  color: hsl(219, 29%, 14%);
}

.bg-image {
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
}

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
  }
}
